/* Apply border-collapse to the table */
#sales {
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid black; /* Add border to the whole table */
    flex-grow: calc(80%);
}

/* Style for table header */
#salesTableHeader th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background: #4a4848; /* Header background color */
    color: white;
}

/* Style for table body */
#salesTableBody {
    background-color: salmon; /* Salmon background color for table body */
}

#salesTableBody td {
    border: 1px solid black;
    padding: 8px;
}

/* Merge cells in right column */
#salesTableBody td:last-child {
    background-color: darkgrey; /* Dark grey background color */
    border: 2px solid black; /* Add border */
    border-left: none; /* Remove left border */
    border-top: solid black; /* Remove left border */
}

/* Style for table footer */
#salesTableFooter td {
    padding: 8px;
    text-align: center;
    border: solid #black;
    background-color: darkgrey;
}



/* Style fo
